.nonVisible {
  display: none;
}

.loadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;

  background-color: #262e35;
}

.loading {
  position: relative;

  width: 80px;
  height: 50px;
}

.loading p {
  top: 0;
  padding: 0;
  margin: 0;

  color: #7269ef;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 12px;
  letter-spacing: 1px;

  animation: text 3.5s ease both infinite;
}

.loading span {
  position: absolute;
  bottom: 0;

  display: block;
  height: 16px;
  width: 16px;

  background-color: #9690f1;
  border-radius: 50px;

  transform: translateX(64px);
  animation: loading 3.5s ease both infinite;
}

.loading span:before {
  content: "";
  position: absolute;

  width: 100%;
  height: 100%;

  background-color: #7269ef;
  border-radius: inherit;
  
  animation: loading2 3.5s ease both infinite;
}

@keyframes loading {
  0% {
    width: 16px;
    transform: translateX(0px);
  }

  40% {
    width: 100%;
    transform: translateX(0px);
  }

  80% {
    width: 16px;
    transform: translateX(64px);
  }

  90% {
    width: 100%;
    transform: translateX(0px);
  }

  100% {
    width: 16px;
    transform: translateX(0px);
  }
}

@keyframes text {
  0% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }

  40% {
    letter-spacing: 2px;
    transform: translateX(26px);
  }

  80% {
    letter-spacing: 1px;
    transform: translateX(32px);
  }

  90% {
    letter-spacing: 2px;
    transform: translateX(0px);
  }

  100% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }
}

@keyframes loading2 {
  0% {
    transform: translateX(0px);
    width: 16px;
  }

  40% {
    transform: translateX(0%);
    width: 80%;
  }

  80% {
    width: 100%;
    transform: translateX(0px);
  }

  90% {
    width: 80%;
    transform: translateX(15px);
  }

  100% {
    transform: translateX(0px);
    width: 16px;
  }
}
